table{
    min-width: 90vw;
    border-bottom: 1px solid black;
}

th{
    width:25%;
    max-width: 25%;
}

.small-data {
    width:10%;
}

.xs-data{
    width:10%
}

button{
    margin-left: 20px;
}

table tr th{
    text-align: center;
}